@model Recipes

<h2>Create a New Recipe</h2>

@using (Html.BeginForm("InsertRecipeToDatabase", "Recipes", "Post"))
 {
    <input asp-for="RecipeID" type="hidden" value="" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="" />

    <label asp-for="Cuisine" class="control-label">Cuisine</label>
    <input type="text" name="Cuisine" class="form-control" value="" />

    <label asp-for="Description" class="control-label">Description</label>
    <input type="text" name="Description" class="form-control" value="" />

    <label asp-for="TotalCookingTime" class="control-label">TotalCookingTime</label>
    <input type="text" name="TotalCookingTime" class="form-control" value="" />

    <label asp-for="Servings" class="control-label">Servings</label>
    <input type="number" step="1" name="Servings" class="form-control" />

    <label asp-for="IngredientsWithMeasurements" class=“control- label">IngredientsWithMeasurements</label>
    <input type="text" name="IngredientsWithMeasurements" class="form-control" value="" />

    <label asp-for="CookingInstructions" class="control-label">CookingInstructions</label>
    <input type="text" name="CookingInstructions" class="form-control" value="" />

    <label asp-for="NotesAndFAQs" class="control-label">NotesAndFAQs</label>
    <input type="text" name="NotesAndFAQs" class="form-control" value="" />

    <label asp-for="NutritionFacts" class="control-label">NutritionFacts</label>
    <input type="text" name="NutritionFacts" class="form-control" value="" />



    <div class="form-group">
        <label for="">Select a Category</label>
        <select class="form-control" name="CategoryID" value="">
            @foreach (var cat in Model.Categories)
                {
                <option value="@cat.CategoryID">@cat.CategoryID @cat.Name</option>
                }
        </select>
    </div>

    <input type="submit" value="Create Recipe" class="btn btn-primary" />

 }
