@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Recipe Book</h1>
    <p>My Recipe Book allows the user to create and view their favorite recipes. If you get tired of that recipe simply delete it from the recipe book</a>!</p>
</div>

<style>
    body {
        background-image: url(/assets/Lets_Cook.jpeg);
    }
</style>
