@{
    ViewData["Title"] = "Home Page";
}



    <header>
        <h1 class="text-center ">Welcome to My Recipe Book</h1>
    </header>

   <br>
        <img class="rounded mx-auto d-block" src="/assets/Lets_Cook.jpeg" />

    <br>

        <div style="text-align: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/BHcyuzXRqLs"
         title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
         encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
   
  












